.venv
venv
.env
env

target/compiled
target/run

dbt_packages/
logs/
profiles.yml

.DS_Store

.user.yml

.ruff_cache
__pycache__
dist/colibri-manifest.json
dist/index.html
target/graph_summary.json
target/graph.gpickle
target/index.html
target/partial_parse.msgpack
target/run_results.json
target/semantic_manifest.json
